.hero {
    height: auto;
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .text-wrapper {
        h1 {
            color: #64ffda;
            margin: 0px 0px 30px 4px;
            font-family: "Roboto Mono", monospace;
            font-weight: 400;
            font-size: 15px;
        };

        h2, h3 {
            color: #ccd6f6;
            font-size: 80px;
            font-weight: 600;
        }

        h3, p {
            color: #8892b0;
        }

        p {
            margin-top: 20px;
            font-size: 20px;
            text-align: left;
        }

        button {
            color: #64ffda;
            background-color: transparent;
            border: 1px solid #64ffda;
            border-radius: 4px;
            padding: 1.25rem 1.75rem;
            font-size: 14px;
            font-family: "Roboto Mono", monospace;
            text-decoration: none;
            margin-top: 50px;
        }

        button:hover {
            box-shadow: 4px 4px 0 0 #64ffda;
            transform: translate(-5px, -5px);
            transition: .3s;
          }

        button:active {
            transform: translateY(1px);
          }  
    }
};
