button.redirect {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    margin-top: 50px;
}

button.redirect:hover {
    box-shadow: 4px 4px 0 0 #64ffda;
    transform: translate(-5px, -5px);
    transition: .3s;
  }

button.redirect:active {
    transform: translateY(1px);
  }  
