#sideMenu {
    position: fixed; 
    right: 0; 
    height: 100%;
    background-color: #112240; 
    box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
    width: 60%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;

    ul {
        list-style: none;

        li {
            margin-bottom: 20px;

            a {
                text-decoration: none;
                font-family: 'SF Mono', sans-serif;
                color: #ccd6f6;

                &:hover {
                    color: #64ffda;
                }
            }

            .link-num {
                color: #64ffda;
            }
        }
    }

    .closeMenuButton {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 2%;
        right: 2%;
        padding: 15px;

        button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            height: 100%;
            width: 100%;
        }
    
            svg {
                height: 100%;
                width: 100%;
                color: #64ffda;
        }
    }
}