#contact-links {
    position: fixed;
    left: 40px;
    bottom: 0;
    
    
    ul {
        list-style: none;
    }

    li {
        margin-bottom: 20px;
    }

    li:hover {
        transform: translateY(-3px);
    }
    
    a {
        color: rgb(136, 146, 176);
        margin-bottom: 20px;
    }

    a:hover {
        color: rgb(100, 255, 218); 
    }
    svg {
        height: 20px;
        width: 20px;
    }
    
    ul::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0 auto;
        background-color: #a8b2d1;
    }
}