.experience {
  max-width: 700px;
  visibility: visible;

  @media (max-width: 880px) {
      .experience_item {
          font-size: 16px;
      }
  }

  @media (max-width: 650px) {
      .experience_item {
          font-size: 14px;
      }
  }
}

.tabs {
  display: flex;
  flex-direction: row;

      .tabs-list {
          display: flex;
          flex-direction: column;
      }

      .list_item {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
          padding-left: 20px;
          padding-right: 20px;
          height: 42px;
          display: flex;
          align-items: center;
          color: #8892b0;
          border-left: 1px solid #8892b0;
      }

      .list_item_active, .list_item:hover {
          background-color: #112240;
          color: #64ffda;
      }

      .list_item_active {
          border-left: 1px solid #64ffda;
      }

      .tabs_content {
          width: 100%;
          height: auto;
          padding: 10px 5px;
          margin-left: 20px;
          text-align: left;
          position: relative;

          ul {
              margin-top: 25px;
          }

          h3 {
              color: #ccd6f6;
              margin-bottom: 5px;
          }

          span {
              color: #8892b0;
          }
      }

      .experience_item {
          list-style: none;
          color: #8892b0;
          padding-left: 30px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
      }

      .experience_item::before {
          content: "▹";
          position: absolute;
          left: 0;
          color: #64ffda;
      }
}

.hidden {
  visibility: hidden;
}

.animated {
  animation: appearing 0.5s ease-out 0s 1 normal none;
}

@keyframes appearing {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
